<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employer Profile Creation</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h2>Create Employer Profile</h2>
    <form id="employerProfileForm" action="/create-employer-profile" method="post">
      <div class="form-group">
        <label for="companyName">Company Name:</label>
        <input type="text" class="form-control" id="companyName" name="company_name" required pattern="[A-Za-z ]+" >
      </div>
      <div class="form-group">
        <label for="contactPerson">Contact Person:</label>
        <input type="text" class="form-control" id="contactPerson" name="contact_person" required pattern="[A-Za-z ]+">
      </div>
      <div class="form-group">
        <label for="companyAddress">Company Address:</label>
        <input type="text" class="form-control" id="companyAddress" name="company_address" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="mobileNo">Mobile No:</label>
        <input type="integer" class="form-control" id="mobileNo" name="mobile_no" required   pattern="[0-9]{10}">
        <small>Enter a 10-digit contact number.</small>
      </div>
      <div class="form-group">
        <label for="workPlace">Work Place:</label>
        <input type="text" class="form-control" id="workPlace" name="work_place" required pattern="[A-Za-z ]+">
      </div>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Create Profile</button>
      <a href="/views/emplogin.ejs" class="btn btn-primary">Back</a>
    </form>
    
</div>
  
</body>
</html>
