<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Portal</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .navbar-custom {
      background-color: #4CAF50; /* Green */
    }
    .navbar-custom .nav-link {
      color: #ffffff !important; /* White */
    }
    .navbar-custom .nav-link:hover {
      color: #ffcc00 !important; /* Yellow */
    }
   </style>
</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
  <a class="navbar-brand" href="#">
    <img src="/Employer/image/images.png" width="30" height="30" alt="">Job Portal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/views/index.ejs">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/views/about.ejs">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/views/jslogin.ejs">jobseeker</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/views/emplogin.ejs">Employers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/views/admin-login.ejs">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/views/contact.ejs">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
    <h1>Welcome to our Job Portal</h1>
  
    <img class="img-responsive" src="/Employer/image/banner-4.jpg" alt="banner-4" width="1200" height="500"> 
 </div>
  <!--Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
